.App {
  text-align: center;
  font-family: Arial;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.view-section {
  border-top: 1px solid #ccc;
  margin-top: 30px;
  padding-top: 20px;
}
